@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=IBM+Plex+Sans&display=swap');

:root {
    /* Colors */
    --light-color: #ffffff;
    --dark-color: #000000;
    --purple-color: #D67BFF;
    --pink-color: #FFB6D9;
    --yellow-color: #FEFFAC;
    --mint-color: #45FFCA;
    --react-blue: #149eca;
    --twitter-color: rgba(93, 168, 220);
    --linikedin-color: rgba(14, 118, 168);
    --azure-color: #F0FFFF;
    --honey-dew: #F0FFF0;
    --start-blue: #0080ef;
    --end-blue: #00dad9;
    --start-end-blue: linear-gradient(330deg, var(--start-blue) 52%, var(--end-blue) 98%);

    /* Font Family */
    --bricolage-font: 'Bricolage Grotesque', sans-serif;
    --ibm-font: 'IBM Plex Sans', sans-serif;
}

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bricolage-font);
}

body {
    background-color: var(--dark-color);
    position: relative;
}

input, button {
    width: 13%;
}

button {
    cursor: pointer;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

/* Header Content */
.header {
    background-color: darkslategrey;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 2px solid transparent;
    width: 80px;
    border-radius: 50px;
    padding: 0;
}

.logo:hover {
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px 30px whitesmoke;
    transition: 0.2s;
}

.modern-js {
    text-decoration: none;
    font-family: var(--bricolage-font);
}

.modern-js-title {
    color: var(--light-color);
}

.nav-link {
    text-decoration: none;
    color: var(--light-color);
}

.modern-js-title:hover, .nav-link:hover {
    text-shadow: 5px 5px 60px whitesmoke, 1px 1px 60px whitesmoke;
    transition: 0.2s;
}

/* Main Content */
.main {
    padding: 20px 30px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    color: var(--light-color);
}

.title {
    font-size: 35px;
}

.box {
    border: 2px solid var(--light-color);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-button, .input-field {
    padding: 5px !important;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: 600 !important;
}

/* .shopping-list-box {
    width: 50%;
} */

.remove {
    padding: 5px;
}

.rand-btn {
    width: 35%;
    padding: 5px 10px;
}

.current-date-time {
    border: 4px solid crimson;
    margin: 0;
    padding: 10px 15px;
    width: 20%;
    text-align: center;
    position: absolute;
    right: 0px;
    color: var(--light-color);
}

.inner-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-form {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.50rem;
    border: 3px solid var(--react-blue);
    border-radius: 10px;
    padding: 20px 30px;
}

/* 🟡 Linear Gradient box shadow using --start-end-blue */
/* 🟡 animation after focus  */
.card-form:hover {
    border: 3px solid transparent;
    box-shadow: 5px 5px 80px var(--react-blue);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

.card-form .input-field {
    width: 100%;
}

.card-submit, .get-pokemon, .promise-pokemon {
    width: 200px;
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: 5px;
    border: 1.25px solid var(--react-blue);
}

.card-submit:hover, .get-pokemon:hover, .promise-pokemon:hover {
    width: 200px;
    color: var(--dark-color);
    background-color: var(--react-blue);
    background: linear-gradient(330deg, var(--start-blue) 52%, var(--end-blue) 98%);
    transition: 0.25s;
}

.glass-card-gen-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.glass-card {
    /* background: rgb(214,123,255);
    background: linear-gradient(40deg, rgba(214,123,255,1) 39%, rgba(69,255,202,1) 85%);  */
    background: rgb(214,123,255);
    background: linear-gradient(330deg, rgba(214,123,255,1) 52%, rgba(69,255,202,1) 98%); 
    /* background: rgb(101,226,214);
    background: linear-gradient(330deg, rgba(101,226,214,1) 0%, rgba(214,123,255,1) 50%, rgba(69,255,202,1) 100%);  */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-img {
    width: 70px;
    border: 3px solid var(--honey-dew);
    border-radius: 50px;
}

.socials {
    display: flex;
    margin: 5px 10px;
    gap: 2rem;
}

.fa-twitter {
    color: var(--twitter-color);
}

.fa-github {
    color: var(--dark-color);
}

.fa-linkedin {
    color: var(--linikedin-color);
}

.fa-link {
    color: var(--react-blue);
}

.website, .sc-link, .person-name, .job {
    color: var(--honey-dew);
}

.pokemon-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pokemon-box-2 {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokemon-img, .pokemon-img-promise {
    width: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.pokemon-name, .pokemon-name-promise {
    padding: 10px 0px;
    background-color: var(--end-blue);
    color: var(--dark-color);
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
}

@media screen and (max-width: 800px) {
    input, button {
        width: 25%;
    }

    .current-date-time {
        width: 60%;
        padding: 5px 10px;
    }

    .glass-card-gen-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}